{% extends 'simulator/base.html' %}
{% block content %}
<div class="visible-class" style="display:none">
    <h1>THIS FUCKING COD IS RUNNING!!!!</h1>
    <div class="spinner-border text-primary"></div>
</div>
<div class="invisible-class ml-5">
<h1 class="mt-5 text-center" style="color:0673a9">Your input: </h1>
    <div class="row mt-5" style="font-size:160%">
{% for key, value in myvars.items %}
    {% if key != 'id' %}
<div class="col-3">
{{key}} - {{value}}
</div>
    {% endif %}
    {% endfor %}
    </div>
    </div>

<input class="invisible-class mt-4 ml-5  btn btn-lg" style='background-color:0673a9; color:white' type="button"
       value="Edit input" onclick="window.location.href=
'{% url 'simulator:update' myvars.id %}'"></p>
<form id='form' action='{% url "simulator:launch" %}' method="POST">
{% csrf_token %}
  <input class="invisible-class mt-2 ml-5 btn btn-lg" style='background-color:0673a9; color:white' value="Confirm & Run"
         type="submit" id="sumbit-button">
</form>

<script>
  function toggleVisibility() {
    // Get the elements with the "invisible-class" and "visible-class" classes
    var invisibleElements = document.querySelectorAll('.invisible-class');
    var visibleElement = document.querySelector('.visible-class');

    // Set the "display" property of the invisible elements to "none"
    invisibleElements.forEach(function(element) {
      element.style.display = 'none';
    });
    // Set the "display" property of the visible element to "block"
    visibleElement.style.display = 'block';
  }

  // Add an event listener to the submit button
  var button = document.getElementById('sumbit-button');
  button.addEventListener('click', function() {
    // Trigger the toggleVisibility function
    toggleVisibility();
  });
</script>


{% endblock %}