{% extends 'simulator/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="visible-class" style="display:none; text-align:center; margin-top:18%">
    <h1 class="text-center font-weight-bold" style="color:0673a9">YOUR SIMULATION MODEL IS RUNNING!!!!</h1></p>
    <div class="spinner-border text-primary"></div></p>
    <span  class="text-center" style="color:0673a9">THE SIMULATION MIGHT TAKE A COUPLE OF MINUTES. DO NOT REFRESH
        THIS PAGE !</span>
</div>
<div class="invisible-class ml-5">
<div class="mt-3 ml-5">
 <h3 class="text-center" style="color:0673a9">YOUR INPUTS TO SIMULATION MODEL:</h3></div><p>
<form action="" method="post" id="myform">
    {% csrf_token %}
    {% if form.errors %}
        <div id="error-summary" class="alert alert-danger">
            <h2>Error Summary</h2>
            <ul>
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class='mt-4 ml-4' style="color:#2319A2">
        <img style="width:2%" src="{% static 'icons/settings.png' %}"
         alt="general simulation inputs">
    <span class="mb-3 ml-3" style="font-size:160%">GENERAL SETTINGS:</span></p>
<div class = 'row ml-2' >
    <div class = 'col-lg-2'>
        {{ form.number_of_simulations|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.line_numbers|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.number_of_agents|as_crispy_field }}
        </div>
     <div class = 'col-lg-2'>
        {{ form.shift_time|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.call_list|as_crispy_field }}
        </div>
</div></div>
    <div class='ml-4' style="color:#004cc5">
        <img style="width:2%" src="{% static 'icons/batch_settings.png' %}"
         alt="inputs related to autodialing mode">
    <span class="mb-3 ml-3" style="font-size:160%">BATCH FORMATION:</span></p>
    <div class = 'row ml-2'>
         <div class = 'col-lg-2'>
        {{ form.take_high|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.take_low|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.take_mode|as_crispy_field }}
        </div></div>
    </div>
    <div class='ml-4' style="color:#0072a8">
        <img style="height:4.5%" src="{% static 'icons/base_quality.png' %}"
         alt="inputs related to quality of customers' data base">
    <span class="mb-3 ml-3" style="font-size:160%">SETTINGS RELATED TO QUALITY OF CUSTOMERS' DATA:</span></p>
        <div class = 'row ml-2'>
     <div class = 'col-lg-2'>
        {{ form.unreachable_h|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.unreachable_l|as_crispy_field }}
        </div>
         <div class = 'col-lg-2'>
        {{ form.unreachable_m|as_crispy_field }}
         </div></div>
    </div>
    <div class='ml-4' style="color:#009ca2">
        <img style="height:4.5%" src="{% static 'icons/customers_settings.png' %}"
         alt="inputs related to quality of customers' data base">
    <span class="mb-3 ml-3" style="font-size:160%">CUSTOMER REACH SETTINGS:</span></p>
        <div class = 'row ml-2'>
     <div class = 'col-lg-2'>
        {{ form.ring_time_h|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.ring_time_l|as_crispy_field }}
        </div>
         <div class = 'col-lg-2'>
        {{ form.ring_time_m|as_crispy_field }}
        </div>
            <div class = 'col-lg-2'>
        {{ form.reach_rate_h|as_crispy_field }}
        </div>
            <div class = 'col-lg-2'>
        {{ form.reach_rate_l|as_crispy_field }}
        </div>
            <div class = 'col-lg-2'>
        {{ form.reach_rate_m|as_crispy_field }}
            </div></div>
    </div>
    <div class='ml-4' style="color:#009a3a">
        <img style="height:4.5%" src="{% static 'icons/call_processing.png' %}"
         alt="inputs related to quality of customers' data base">
    <span class="mb-3 ml-3" style="font-size:160%">CALL PROCESSING SETTINGS:</span></p>
         <div class = 'row ml-2'>
     <div class = 'col-lg-2'>
        {{ form.d_h|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.d_l|as_crispy_field }}
        </div>
         <div class = 'col-lg-2'>
        {{ form.d_m|as_crispy_field }}
        </div>
            <div class = 'col-lg-2'>
        {{ form.p_h|as_crispy_field }}
        </div>
            <div class = 'col-lg-2'>
        {{ form.p_l|as_crispy_field }}
            </div>
    </div>
        <div class = 'row ml-2'>
     <div class = 'col-lg-2'>
        {{ form.t_h|as_crispy_field }}
        </div>
    <div class = 'col-lg-2'>
        {{ form.t_l|as_crispy_field }}
        </div>
         <div class = 'col-lg-2'>
        {{ form.c_h|as_crispy_field }}
        </div>
            <div class = 'col-lg-2'>
        {{ form.c_l|as_crispy_field }}
        </div></div>
    </div></p>

    <input class="mt-3 mb-2 ml-5 btn btn-lg" style='background-color:0673a9; color:white' type="submit"
           value="Run Simulation" id="sumbit-button">
    <input class="mt-3 mb-2 ml-5 btn btn-lg" style='background-color:0673a9; color:white' type="button"
           value="Back To Main" onclick='window.location.href="{% url "simulator:main" %}"'>
</form>
</div>

<script>
  function toggleVisibility() {
    // Get the elements with the "invisible-class" and "visible-class" classes
    var invisibleElements = document.querySelectorAll('.invisible-class');
    var visibleElement = document.querySelector('.visible-class');

    // Set the "display" property of the invisible elements to "none"
    invisibleElements.forEach(function(element) {
      element.style.display = 'none';
    });
    // Set the "display" property of the visible element to "block"
    visibleElement.style.display = 'block';
  }



  // Add an event listener to the submit button
  var button = document.getElementById('sumbit-button');
  button.addEventListener('click', function() {
    // Trigger the toggleVisibility function
    toggleVisibility();
  });
</script>

{% endblock %}